<%- include('partials/header'); -%>
   <h1>This is where you can change the configuration of a certain bot</h1>

   <form>
      <label for="model">Model configuration</label>
      <input type="text" name="model" id="model" placeholder="<%= bot.modelConfig %>">
      <br>
      <label for="personality">Personality configuration</label>
      <input type="text" name="personality" id="personality" placeholder="<%= bot.personalityConfig %>">
      <br>
      <label for="token">Max Token configuration</label>
      <input type="number" name="token" id="token" placeholder="<%= bot.tokenConfig %>">
      <br>
      <label for="temp">Temp configuration</label>
      <input type="number" min="0" max="1" name="temp" id="temp" step="0.1" placeholder="<%= bot.tempConfig %>">
      <br>
      <button>Update Config</button>
   </form>

   <div style="color: green;" id="msg-box"></div>

   <form id="delete-form">
      <button>Delete Bot</button>
   </form>

   <%- include('partials/footer'); -%>

      <script>
         const form = document.querySelector('form');
         const box = document.getElementById("msg-box");

         form.addEventListener('submit', async (e) => {
            e.preventDefault()

            const modelConfig = form.model.value;
            const tempConfig = form.temp.value;
            const personalityConfig = form.personality.value;
            const tokenConfig = form.token.value;

            try {
               const res = await fetch('/bots/<%= bot.clientID %>', {
                  method: 'POST',
                  body: JSON.stringify({ modelConfig, tempConfig, personalityConfig, tokenConfig }),
                  headers: { 'Content-Type': 'application/json' }
               })
               const data = await res.json();
               box.innerText = data.msg;
               setTimeout(() => {
                  location.assign('/dashboard')
               }, 5000)
            } catch (error) {
               console.log(error)
            }
         })

         const form2 = getElementById("delete-form")

         form2.addEventListener('submit', async (e) => {
            e.preventDefault()

            const res = await fetch('/deletebot/<%= bot.clientID %>', {
               method: "POST",
               body: JSON.stringify({}),
               headers: { 'Content-Type': 'application/json' }
            })

            location.assign('/dashboard');
         })
      </script>